<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.wms.dao.IncomeItemMapper">
  
  <select id="findByQuery" resultType="incomeItem"  parameterType="incomeItemQuery">
    select * from incomeItem
     <where>
        <if test="incomeId != null">
        and incomeId = #{incomeId}
        </if>
     </where>
     limit #{offset},#{pageSize}
  </select>
  
  
  <select id="getBuyIncomeId" resultType="incomeItem"   >
    select * from incomeItem where  incomeId = #{incomeId}
  </select>
  
 
 
  <!-- 查找当前条件下的总的记录数 --> 	
  <select id="findCount" resultType="long" parameterType="incomeItemQuery">
     select count(*) from incomeItem 
     <where>
        <if test="incomeId != null">
        and incomeId = #{incomeId}
        </if>
     </where>
  </select>
  
  <insert id="add" parameterType="incomeItem">
    insert into incomeItem
    <trim prefix="(" suffix=")" suffixOverrides=",">
        costPrice,
        number,
        amount,
        productId,
        productName,
        incomeId,
        bookItemId,
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        #{costPrice},
        #{number},
        #{amount},
        #{productId},
        #{productName},
        #{incomeId},
        #{bookItemId},
      <if test="remark != null">
        #{remark},
      </if>
    </trim>
  </insert>
  
  
  <delete id="deleteByIncomeid">
    delete from incomeitem where incomeid in
    <foreach collection="array" open="(" close=")" separator="," item="item">
      #{item}
    </foreach>
  </delete>
  
  
</mapper>